.background-image{
  --background: url(https://previews.123rf.com/images/valiva/valiva1807/valiva180700001/105174250-summer-background-with-tropical-landscape-view-from-terrace-on-seaside-flying-birds-and-distant-tree.jpg) 0 0/100% 100% no-repeat;
}

.ion-center{
  justify-content: center;
  text-align: center;
  align-self: flex-end;
}

ion-button{
  height: 80px;
}