<div class="row">
<section class="main col-md-12">
	<article>
		<p> Hi </p>
        <p> My name is Khai Phan Thanh, I am learning to become a professional developer. I wasn't actually want to become an IT guys, but due to some financial problem, I have to be here as my second choice. My dream was to become a pilot or at least working under aviation environment. </p>
        <p> My hobbies is to flies to anywhere in the world. When I have some free time, I listen to music, go to Youtube or some website to learn how pilot operate airplane or how the airlines industry work. It is actually fun to do things that you always want. </p>
        <p> In this website, I will be upload some of my work code and sometimes I will have some interesting article about Aviation too ^^ </p>
    </article>
</section>
</div>
