<div class="row">
    <div class="col-md-12">
        <h1>{{data.departmentName}} - Department: {{data.departmentID}}</h1>
        <form method="post" action="/departments/update">
            <input type="hidden" name="departmentID" value="{{data.departmentID}}" />
            <fieldset>
                <legend>Department Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="departmentName">Department Name:</label>
                            <input class="form-control" id="departmentName"
                                    name="departmentName" type="text" value="{{data.departmentName}}" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>