
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>John Smith - "the developer"</h2>
					<p>Hi There,<br /><br />
                    My Name is John Smith and I'm currently studying Computer Programming and Analysis at Seneca College of Applied Arts &amp; Technology.  My Interests are everything related to HTML, JavaScript and CSS and I'm currently in the process of mastering the MEAN stack.  It's my goal to become a full-stack JavaScript developer and continue to learn and expand my experience to include all the amazing new dev tools, environments, libraries, workflows and design methodologies available to the full-stack / MEAN developer community.</p>Enjoy browsing my app! - If you have any questions, or are in need of a JS dev for your project, I can be found at [insert email link here].</p><p>Sincerely,<br />John Smith</p>
					</article>
				</section>
		</div>
