<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Travel EZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <br><br><br><br><br><br><br><br><br><br>

  <svg height="140" width="500">
    <ellipse cx="200" cy="100" rx="120" ry="40" style="fill:orange;"></ellipse>
    <text x="125" y="110" fill="white" font-size="2em">Travel App</text>
  </svg>

  <ion-grid class="ion-center">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-row>  
      <ion-col size-md="2">
        <ion-button shape="round" color="secondary" (click)="flightSearch()">Flight Search</ion-button>                               
      </ion-col>

      <ion-col size-md="2">
        <ion-button shape="round" color="secondary" (click)="hotelSearch()">Hotel Search</ion-button>       
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

