.head-text{
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

.ion-center{
    justify-content: center;
    text-align: center;
}


.order-grid{
    width: 100%;
    height: 100%;
}
