<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>About</title>
        <link rel='stylesheet' href="css/site.css" type="text/css" />
         <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
    </head>
    
    <body>
        <header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1> My App </h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>	
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Khai Phan - the Developer</h2>
                    <p> Hi </p>
                    <p> My name is Khai Phan Thanh, I am learning to become a professional developer. I wasn't actually want to become an IT guys, but due to some financial problem, I have to be here as my second choice. My dream was to become a pilot or at least working under aviation environment. </p>
                    <p> My hobbies is to flies to anywhere in the world. When I have some free time, I listen to music, go to Youtube or some website to learn how pilot operate airplane or how the airlines industry work. It is actually fun to do things that you always want. </p>
                    <p> In this website, I will be upload some of my work code and sometimes I will have some interesting article about Aviation too ^^ </p>
                    </article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Khai Phan</h2>
			</div>
		</div>
	</div>
   </footer>
    </body>
</html>
